
src/build
src/IS31FL3743A_demo/build
kicad/gerbers/*
kicad/*/gerbers
kicad/*/bom
kicad/*/*-cache
kicad/*/*-backups
kicad/*/#auto_saved_files#
kicad/*/_autosave*
kicad/*/*.lck
kicad/*/*_gerbers
kicad/*/*_gerbers.zip
kicad/*/placement
*.kicad*-bak
*.sublime-*
__pycache__
run_cq.sh
xvis.py